mixin map-search(type)
  .map-search-wrapper 
    .container-fluid 
      .row 
        .col-6 
          #map-search 
        .col-6
          .map-search-card__wrapper 
            .map-search-card 
              .map-search-card__header 
                h3.map-search-card__title 
                  | Property for sale in Myanmar
              .map-search-card__body 
                .map-search-card__item 
                  .map-search-card__item__img 
                    img(src=require("@/assets/images/static/card.jpg"))
                    .label 
                      p.label__text.sale
                        | For Sale
                  .map-search-card__item__content 
                    .price-wrap
                      p.card-price 800 Lakhs
                        span.card-bank Bank Installment
                    h4.map-search-card__item__title 
                      | Luxury Villa In Yangon
                    .map-search-card__item__description 
                      | Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam nonumy eirmod tempor
                    .map-search-card__footer 
                      .map-search-card__footer__icon 
                        img(src=require("@/assets/images/icons/card-apartment.svg"))
                        p.map-search-card__footer__text 
                          | 03
                      .map-search-card__footer__icon 
                        img(src=require("@/assets/images/icons/card-bath.svg"))
                        p.map-search-card__footer__text 
                          | 02
                      .map-search-card__footer__icon 
                        img(src=require("@/assets/images/icons/card-bed.svg"))
                        p.map-search-card__footer__text 
                          | Condo
                      .map-search-card__footer__icon 
                        img(src=require("@/assets/images/icons/card-square.svg"))
                        p.map-search-card__footer__text 
                          | 1800sqft
                    .map-search-card__btn
                      a(href='detail-sale.html').btn.btn-primary
                        | View Detail
                      a(href='tel:0999999999').btn.btn-secondary
                        img(src=require('@/assets/images/icons/feather-phone-call.svg'), alt="call")
                        | Call Now