mixin header
  header.header
    .header__wrapper.wrapper
      nav.navbar.navbar-expand-lg.navbar-light
        .container.navbar-container
          a.navbar-brand(href='#')
            img.img-fluid(src=require("@/assets/images/favicons/144x144.png") alt='image')
          //- button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbar-content')
          //-   .hamburger-toggle
          //-     .hamburger
          //-       span
          //-       span
          //-       span
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar-content')
            span.navbar-toggler-icon
          .navbar-content-wrapper
            .contact-info
              .contact-info__item
                a(href='mailto:info@xxxxx.com')
                  i.bi.bi-envelope
                  span info@xxxxx.com
              .contact-info__item
                a(href='tel:+1234567890')
                  i.bi.bi-phone
                  span +1 234 567 890
              .contact-info__item
                i.bi.bi-flag-fill
            #navbar-content.collapse.navbar-collapse
              ul.navbar-nav.mr-auto.mb-2.mb-lg-0
                li.nav-item
                  a.nav-link.active(aria-current='page' href='#') Home
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown' data-bs-auto-close='outside') Multilevel
                  ul.dropdown-menu.shadow
                    li
                      a.dropdown-item(href='#') Gallery
                    li
                      a.dropdown-item(href='blog.html') Blog
                    li.dropstart
                      a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown') Submenu Left
                      ul.dropdown-menu.shadow
                        li
                          a.dropdown-item(href='')  Third level 1
                        li
                          a.dropdown-item(href='')  Third level 2
                        li
                          a.dropdown-item(href='')  Third level 3
                        li
                          a.dropdown-item(href='')  Third level 4
                        li
                          a.dropdown-item(href='')  Third level 5
                    li.dropend
                      a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown' data-bs-auto-close='outside') Submenu Right
                      ul.dropdown-menu.shadow
                        li
                          a.dropdown-item(href='')  Second level 1
                        li
                          a.dropdown-item(href='')  Second level 2
                        li
                          a.dropdown-item(href='')  Second level 3
                        li.dropend
                          a.dropdown-item.dropdown-toggle(href='#' data-bs-toggle='dropdown') Let&apos;s go deeper!
                          ul.dropdown-menu.dropdown-submenu.shadow
                            li
                              a.dropdown-item(href='')  Third level 1
                            li
                              a.dropdown-item(href='')  Third level 2
                            li
                              a.dropdown-item(href='')  Third level 3
                            li
                              a.dropdown-item(href='')  Third level 4
                            li
                              a.dropdown-item(href='')  Third level 5
                        li
                          a.dropdown-item(href='')  Third level 5
                    li
                      hr.dropdown-divider
                    li
                      a.dropdown-item(href='#') Something else here
                li.nav-item
                  a.nav-link(href='#') Link
                li.nav-item.dropdown.dropdown-mega.position-static
                  a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown' data-bs-auto-close='outside') Megamenu
                  .dropdown-menu.shadow
                    .mega-content
                      .row
                        .col-12.col-sm-4.col-md-8
                          h5.title Property For Sale
                          .row.icon-row
                            .col-4.col-md-3
                              a.icon-wrapper(href='#') 
                                .icon
                                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                                span Condon
                            .col-4.col-md-3
                              a.icon-wrapper(href='#') 
                                .icon
                                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                                span Apartment
                            .col-4.col-md-3 
                              a.icon-wrapper(href='#') 
                                .icon
                                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                                span House
                            .col-4.col-md-3 
                              a.icon-wrapper(href='#') 
                                .icon
                                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                                span Land
                            .col-4.col-md-3 
                              a.icon-wrapper(href='#') 
                                .icon
                                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                                span Hotel/ Restaurant
                            .col-4.col-md-3 
                              a.icon-wrapper(href='#') 
                                .icon
                                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                                span Shop/Office
                            .col-4.col-md-3 
                              a.icon-wrapper(href='#') 
                                .icon
                                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                                span Industrial Zone
                        .col-12.col-sm-4.col-md-4
                          .card
                            img.img-fluid(src=require("@/assets/images/favicons/144x144.png") alt='image')