mixin property-card(type, bank, month)
  a(href="detail.html").card-wrapper 
    .card 
      .card-image 
        img(src=require('@/assets/images/static/card.jpg') alt='image')
        .card-label 
          if type === 'rent'
            p.card-label-text.rent 
              | For Rent
          else
            p.card-label-text.sale 
              | For Sale
      .card-content 
        .price-wrap
          p.card-price 800 Lakhs
          if bank === 'bank'
            p.card-bank Bank Installment
          if month === 'month'
            p.card-month / month
        h3.card-title 
          | Luxury Villa In Yangon
        p.card-location
          i.bi.bi-geo-alt
          | Mayangone Township, Yangon
        .card-footer 
          .card-footer-icon 
            img(src=require("@/assets/images/icons/property-type.svg"))
            p.card-footer-text 
              | 03
          .card-footer-icon 
            img(src=require("@/assets/images/icons/property-type.svg"))
            p.card-footer-text 
              | 02
          .card-footer-icon 
            img(src=require("@/assets/images/icons/property-type.svg"))
            p.card-footer-text 
              | Condo
          .card-footer-icon 
            img(src=require("@/assets/images/icons/property-type.svg"))
            p.card-footer-text 
              | 1800sqft
            