mixin footer
  footer.footer 
    .top-footer
      .container
        .row.top-footer-row
          .col-12.col-md-4 
            .footer-info
              h5.title About Us
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .col-12.col-md-4 
            .footer-logo 
              .logo
                img.img-fluid(src=require("@/assets/images/favicons/256x256.png") alt='image')
              .social-icons
                a(href='https://www.facebook.com/' target='_blank')
                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                a(href='https://instagram.com/' target='_blank')
                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                a(href='tel: +1234567890')
                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
                a(href='tel: +1234567890')
                  img.img-fluid(src=require("@/assets/images/favicons/64x64.png") alt='image')
          .col-12.col-md-4 
            .footer-info
              h5.title Contact Us
              .contact-info
                p 
                  span.icon
                    i.bi.bi-geo-alt-fill
                  |  1234 Street Name, City Name, United States
                p 
                  span.icon
                    i.bi.bi-envelope-fill
                  span.email 
                    a(href='mailto:info@zzzz.com') info@zzz.com
                p 
                  span.icon
                    i.bi.bi-telephone-fill
                  span.phone 
                    a(href='tel:+1234567890') +1 234 567 8900
                    a(href='tel:+1234567890') +1 234 567 8900
    .bottom-footer
      .container
        .row.bottom-footer-row
          .col-12.col-md-6 
            p.copyright <script>document.write(new Date().getFullYear());</script> © Copyright - All Rights Reserved. Powered By 
              a(href='https://innovixdigital.com' target="_blank") Innovix Digital
          .col-12.col-md-6 
            .footer-menu
              ul
                li
                  a(href='#') Terms & Conditions
                li
                  a(href='#') Privacy Policy