mixin search-tab
  .search-tab-wrapper
    .container
      .row 
        .col-12
          .nav-tab-wrapper
            ul#pills-tab.nav.nav-pills(role='tablist')
              li.nav-item(role='presentation')
                button#pills-sale-tab.nav-link.active(data-bs-toggle='pill', data-bs-target='#pills-sale', type='button', role='tab', aria-controls='pills-sale', aria-selected='true') For Sale
              li.nav-item(role='presentation')
                button#pills-rent-tab.nav-link(data-bs-toggle='pill', data-bs-target='#pills-rent', type='button', role='tab', aria-controls='pills-rent', aria-selected='false') For Rent
            #pills-tabContent.tab-content
              #pills-sale.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-sale-tab', tabindex='0')
                h2.search-form-title Search Property For Sale
                .search-form-wrapper 
                  form.search-form
                    .row
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          span#basic-addon1.input-group-text
                            img(src=require("@/assets/images/icons/find.png"))
                          input.form-control(type='text', placeholder='Search By Text', aria-label='Search By Text', aria-describedby='basic-addon1')

                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          label.input-group-text(for='type')
                            img(src=require("@/assets/images/icons/property-type.svg"))
                          select#type.form-select
                            option(selected='') Property Type
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          label.input-group-text(for='state')
                            img(src=require("@/assets/images/icons/location.png"))
                          select#state.form-select
                            option(selected='') State/Division
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          label.input-group-text(for='township')
                            img(src=require("@/assets/images/icons/location.png"))
                          select#township.form-select
                            option(selected='') Township
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          label.input-group-text(for='price')
                            img(src=require("@/assets/images/icons/dollar.svg"))
                          select#price.form-select
                            option(selected='') Price
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .form-group
                          button#search-submit.btn.btn-primary.btn-block(type='submit') Search
              #pills-rent.tab-pane.fade(role='tabpanel', aria-labelledby='pills-rent-tab', tabindex='0')
                h2.search-form-title Search Property For Rent
                .search-form-wrapper 
                  form.search-form
                    .row
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          span#basic-addon1.input-group-text
                            img(src=require("@/assets/images/icons/find.png"))
                          input.form-control(type='text', placeholder='Search By Text', aria-label='Search By Text', aria-describedby='basic-addon1')

                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          label.input-group-text(for='type')
                            img(src=require("@/assets/images/icons/property-type.svg"))
                          select#type.form-select
                            option(selected='') Property Type
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          label.input-group-text(for='state')
                            img(src=require("@/assets/images/icons/location.png"))
                          select#state.form-select
                            option(selected='') State/Division
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          label.input-group-text(for='township')
                            img(src=require("@/assets/images/icons/location.png"))
                          select#township.form-select
                            option(selected='') Township
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.mb-3
                          label.input-group-text(for='price')
                            img(src=require("@/assets/images/icons/dollar.svg"))
                          select#price.form-select
                            option(selected='') Price
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .form-group
                          button#search-submit.btn.btn-primary.btn-block(type='submit') Search
