mixin search-tab
  .search-tab-wrapper
    .container
      .row 
        .col-12
          .nav-tab-wrapper
            ul#pills-tab.nav.nav-search.nav-pills(role='tablist')
              li.nav-item(role='presentation')
                button#pills-sale-tab.nav-link.active(data-bs-toggle='pill', data-bs-target='#pills-sale', type='button', role='tab', aria-controls='pills-sale', aria-selected='true') For Sale
              li.nav-item(role='presentation')
                button#pills-rent-tab.nav-link(data-bs-toggle='pill', data-bs-target='#pills-rent', type='button', role='tab', aria-controls='pills-rent', aria-selected='false') For Rent
            #pills-tabContent.tab-content
              #pills-sale.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-sale-tab', tabindex='0')
                h2.search-form-title Search Property For Sale
                .search-form-wrapper 
                  form.search-form
                    .row
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.icon-left.mb-3
                          span#search.input-group-text
                            img(src=require("@/assets/images/icons/find.png"))
                          input.form-control(type='text', placeholder='Search By Text', aria-label='Search By Text', aria-describedby='search')

                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.icon-left.mb-3
                          label.input-group-text(for='type')
                            img(src=require("@/assets/images/icons/property-type.svg"))
                          select#type.form-select
                            option(selected='') Property Type
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.icon-left.mb-3
                          label.input-group-text(for='state')
                            img(src=require("@/assets/images/icons/location.png"))
                          select#state.form-select
                            option(selected='') State/Division
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.icon-left.mb-3
                          label.input-group-text(for='township')
                            img(src=require("@/assets/images/icons/location.png"))
                          select#township.form-select
                            option(selected='') Township
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        #sale-price-tab
                          .input-group.icon-left.mb-3#price-sale.price-wrap
                            label.input-group-text(for='price')
                              img(src=require("@/assets/images/icons/dollar.svg"))
                            select#price.form-select
                              option(value='')
                          .dropdown
                            button.btn.btn-outline-secondary.dropdown-toggle.price-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                              span.price-toggle-label 
                                img(src=require("@/assets/images/icons/dollar.svg"))
                                span.label Price
                              img.down-img(src=require("@/assets/images/icons/down.png"))

                            ul.dropdown-menu.dropdown-menu-price
                              ul#salePriceTab.nav.nav-tabs.nav-pills(role='tablist')
                                li.nav-item.left(role='presentation')
                                  button#mmk-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#mmk-tab-pane', type='button', role='tab', aria-controls='mmk-tab-pane', aria-selected='true') MMK
                                li.nav-item.right(role='presentation')
                                  button#usd-tab.nav-link(data-bs-toggle='tab', data-bs-target='#usd-tab-pane', type='button', role='tab', aria-controls='usd-tab-pane', aria-selected='false') USD
                                
                              #salePriceTabContent.tab-content
                                #mmk-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='mmk-tab', tabindex='0')
                                  .tab-content-title Price Range:
                                  .tab-content-wrap 
                                    button.btn.btn-outline-secondary(type='button', data-value='100Lakh - 300Lakh') 100Lakh - 300Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='301Lakh - 500Lakh') 301Lakh - 500Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='501Lakh - 700Lakh') 501Lakh - 700Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='701Lakh - 900Lakh') 701Lakh - 900Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='901Lakh - 1100Lakh') 901Lakh - 1100Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='1100Lakh & above') 1100Lakh & above
                                #usd-tab-pane.tab-pane.fade(role='tabpanel', aria-labelledby='usd-tab', tabindex='0')
                                  .tab-content-title Price Range:
                                  .tab-content-wrap 
                                    button.btn.btn-outline-secondary(type='button', data-value='100$ - 300$') 100$ - 300$
                                    button.btn.btn-outline-secondary(type='button', data-value='301$ - 500$') 301$ - 500$
                                    button.btn.btn-outline-secondary(type='button', data-value='501$ - 700$') 501$ - 700$
                                    button.btn.btn-outline-secondary(type='button', data-value='701$ - 900$') 701$ - 900$
                                    button.btn.btn-outline-secondary(type='button', data-value='901$ - 1100$') 901$ - 1100$
                                    button.btn.btn-outline-secondary(type='button', data-value='1100$ & above') 1100Lakh & above            
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .form-group
                          button#search-submit.btn.btn-primary.btn-block(type='submit') Search
              #pills-rent.tab-pane.fade(role='tabpanel', aria-labelledby='pills-rent-tab', tabindex='0')
                h2.search-form-title Search Property For Rent
                .search-form-wrapper 
                  form.search-form
                    .row
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.icon-left.mb-3
                          span#basic-addon1.input-group-text
                            img(src=require("@/assets/images/icons/find.png"))
                          input.form-control(type='text', placeholder='Search By Text', aria-label='Search By Text', aria-describedby='basic-addon1')

                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.icon-left.mb-3
                          label.input-group-text(for='type')
                            img(src=require("@/assets/images/icons/property-type.svg"))
                          select#type.form-select
                            option(selected='') Property Type
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.icon-left.mb-3
                          label.input-group-text(for='state')
                            img(src=require("@/assets/images/icons/location.png"))
                          select#state.form-select
                            option(selected='') State/Division
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .input-group.icon-left.mb-3
                          label.input-group-text(for='township')
                            img(src=require("@/assets/images/icons/location.png"))
                          select#township.form-select
                            option(selected='') Township
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        #rent-price-tab
                          .input-group.icon-left.mb-3#price-rent.price-wrap
                            label.input-group-text(for='price')
                              img(src=require("@/assets/images/icons/dollar.svg"))
                            select#price.form-select
                              option(value='')
                          .dropdown
                            button.btn.btn-outline-secondary.dropdown-toggle.price-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                              span.price-toggle-label 
                                img(src=require("@/assets/images/icons/dollar.svg"))
                                span.label Price
                              img.down-img(src=require("@/assets/images/icons/down.png"))

                            ul.dropdown-menu.dropdown-menu-price
                              ul#rentPriceTab.nav.nav-tabs.nav-pills(role='tablist')
                                li.nav-item.left(role='presentation')
                                  button#mmk-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#mmk-tab-pane', type='button', role='tab', aria-controls='mmk-tab-pane', aria-selected='true') MMK
                                li.nav-item.right(role='presentation')
                                  button#usd-tab.nav-link(data-bs-toggle='tab', data-bs-target='#usd-tab-pane', type='button', role='tab', aria-controls='usd-tab-pane', aria-selected='false') USD
                                
                              #rentPriceTabContent.tab-content
                                #mmk-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='mmk-tab', tabindex='0')
                                  .tab-content-title Price Range:
                                  .tab-content-wrap 
                                    button.btn.btn-outline-secondary(type='button', data-value='100Lakh - 300Lakh') 100Lakh - 300Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='301Lakh - 500Lakh') 301Lakh - 500Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='501Lakh - 700Lakh') 501Lakh - 700Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='701Lakh - 900Lakh') 701Lakh - 900Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='901Lakh - 1100Lakh') 901Lakh - 1100Lakh
                                    button.btn.btn-outline-secondary(type='button', data-value='1100Lakh & above') 1100Lakh & above
                                #usd-tab-pane.tab-pane.fade(role='tabpanel', aria-labelledby='usd-tab', tabindex='0')
                                  .tab-content-title Price Range:
                                  .tab-content-wrap 
                                    button.btn.btn-outline-secondary(type='button', data-value='100$ - 300$') 100$ - 300$
                                    button.btn.btn-outline-secondary(type='button', data-value='301$ - 500$') 301$ - 500$
                                    button.btn.btn-outline-secondary(type='button', data-value='501$ - 700$') 501$ - 700$
                                    button.btn.btn-outline-secondary(type='button', data-value='701$ - 900$') 701$ - 900$
                                    button.btn.btn-outline-secondary(type='button', data-value='901$ - 1100$') 901$ - 1100$
                                    button.btn.btn-outline-secondary(type='button', data-value='1100$ & above') 1100Lakh & above
                      .col-6.col-sm-4.col-md-4.col-lg-2
                        .form-group
                          button#search-submit.btn.btn-primary.btn-block(type='submit') Search
