include ../property-card/property-card

mixin detail-info(type)
  .detail-info-wrapper 
    .container 
      .row 
        .col-12.col-md-8 
          .detail-info 
            .description-wrapper
              .detail-info__title 
                .title 
                  h1 3 Bedroom Apartment for Sale in 
                  if type === 'rent'
                    span.label.rent
                      | For Rent
                  else if type === 'sale'
                    span.label.sale
                      | For Sale
                  else
                    span.label.sold
                      | Sold Out
                .date 
                  p
                    | Posted Date: 14 Dec 2022
              .detail-info__address
                .address
                  i.bi.bi-geo-alt
                  p 
                    | Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam nonumy eirmod tempor
                .map-icon#map-icon 
                  img(src=require('@/assets/images/icons/animation_map.gif') alt='image')
              .detail-info__price 
                .price-wrap
                  p.price 
                    | 200 Lakhs
                  if type === 'rent'
                    p.price-label 
                      | / month
                  else
                    p.card-bank 
                      | Bank Installment
                .social 
                  p.view-count 
                    | View count : 100000
                  .social-share 
                    button.btn.btn-light.btn-share
                      img(src=require('@/assets/images/icons/share.svg') alt='image')
                      | Share
                    .fb-share-button(data-href='https://king.innovix.digital/detail.html')
            .description-wrapper
              .detail-info__description
                .description 
                  h3.title Description
                  p 
                    | Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            .description-wrapper
              .detail-info__description
                .property 
                  h3.title Details
                  .row 
                    .col-12.col-lg-6 
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Property Type:
                        .property__item__content 
                          p 
                            | Condo
                    .col-12.col-lg-6 
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Property Size:
                        .property__item__content 
                          p 
                            | 2400sqft
                    .col-12.col-lg-6 
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Year Built:
                        .property__item__content 
                          p 
                            | 2015
            .description-wrapper
              .detail-info__description
                .amenities
                  h3.title Amenities
                  .row 
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Bedrooms:
                        .property__item__content 
                          p 
                            | 03
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Bathroom:
                        .property__item__content 
                          p 
                            | 2
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Floor:
                        .property__item__content 
                          p 
                            | 3rd Floor
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Bedrooms:
                        .property__item__content 
                          p 
                            | 03
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Bathroom:
                        .property__item__content 
                          p 
                            | 2
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Floor:
                        .property__item__content 
                          p 
                            | 3rd Floor
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Bedrooms:
                        .property__item__content 
                          p 
                            | 03
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Bathroom:
                        .property__item__content 
                          p 
                            | 2
                    .col-12.col-md-6.col-lg-4
                      .property__item 
                        .property__item__title 
                          i.bi.bi-check-square
                          p Floor:
                        .property__item__content 
                          p 
                            | 3rd Floor
            .description-wrapper
              .detail-info__description
                .amenities
                  h3.title Near by Place
                  .row 
                    .col-12.col-lg-6
                      .property__item 
                        .property__item__title 
                          i.bi.bi-building
                          p City Mart
                            span
                              | 0.4 miles
                    .col-12.col-lg-6
                      .property__item 
                        .property__item__title 
                          i.bi.bi-building
                          p City Hospital
                            span
                              | 0.4 miles
                    .col-12.col-lg-6
                      .property__item 
                        .property__item__title 
                          i.bi.bi-building
                          p KBTC University
                            span
                              | 0.4 miles
                    .col-12.col-lg-6
                      .property__item 
                        .property__item__title 
                          i.bi.bi-building
                          p Seafood City BBQ & Restaurant
                            span
                              | 0.4 miles
            .description-wrapper
              .detail-info__description
                .amenities
                  h3.title Features
                  .row 
                    .col-12
                      .property__item 
                        i.bi.bi-check-circle-fill(style='color: #A5A5A5')
                        p Lorem ipsum dolor sit amet, consetetur sadipscing
                      .property__item 
                        i.bi.bi-check-circle-fill(style='color: #A5A5A5')
                        p Lorem ipsum dolor sit amet, consetetur sadipscing
                      .property__item 
                        i.bi.bi-check-circle-fill(style='color: #A5A5A5')
                        p Lorem ipsum dolor sit amet, consetetur sadipscing
                      .property__item 
                        i.bi.bi-check-circle-fill(style='color: #A5A5A5')
                        p Lorem ipsum dolor sit amet, consetetur sadipscing
                      .property__item 
                        i.bi.bi-check-circle-fill(style='color: #A5A5A5')
                        p Lorem ipsum dolor sit amet, consetetur sadipscing
            .description-wrapper#map
              .detail-info__description
                h3.title Location
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d488799.48742795293!2d95.90137949756925!3d16.838952492696965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1949e223e196b%3A0x56fbd271f8080bb4!2z4YCb4YCU4YC64YCA4YCv4YCU4YC6!5e0!3m2!1smy!2smm!4v1674447243389!5m2!1smy!2smm', width='100%', height='400', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
        .col-12.col-md-4 
          .detail-sidebar
            .sidebar__widget
              .sidebar__widget__wrapper
                h5.title 
                  | Call For This Property
                .sidebar__widget__call__content__phone
                  .icon-wrap
                    img(src=require('@/assets/images/icons/phone-call.svg') alt='image')
                  a(href="tel:+95 9123456789")
                    | +95 9123456789
            .sidebar__widget
              .sidebar__widget__wrapper
                h5.title.title-lined
                  | Request Inquiry
                form(action="#").inquiry-form
                  .input-group.icon-left.mb-3
                    span#name.input-group-text
                      img(src=require('@/assets/images/icons/feather-user.svg'), alt="name")
                    input.form-control(type='text', placeholder='Name', aria-label='Name', aria-describedby='name')
                  .input-group.icon-left.mb-3
                    span#phone.input-group-text
                      img(src=require('@/assets/images/icons/feather-phone.svg'), alt="phone")
                    input.form-control(type='text', placeholder='Phone', aria-label='Phone', aria-describedby='phone')
                  .input-group.icon-left.mb-3
                    span#email.input-group-text
                      img(src=require('@/assets/images/icons/feather-mail.svg'), alt="mail")
                    input.form-control(type='text', placeholder='Email', aria-label='Email', aria-describedby='email')
                  .input-group.icon-left.mb-3
                    span#date.input-group-text
                      img(src=require('@/assets/images/icons/calendar.svg'), alt="calendar")
                    input.form-control(type='text', id="datepicker", placeholder='Request Date', aria-label='Request Date', aria-describedby='date')
                  .mb-3
                    textarea.form-control(type='text', placeholder='Message', aria-label='Message', aria-describedby='message')
                  button.btn.btn-primary(type='submit') Send Now
            .sidebar__widget
              .sidebar__widget__wrapper
                h5.title.title-lined
                  | Property Tax Calculator
                form(action="#")
                  .mb-3
                    label.form-label(for='offerTypes') Offer Type
                    .offer-check-wrap(id="nav-tab" role="tablist")
                      .form-check
                        input#forSale.form-check-input.active(type='radio', name='offerTypes', checked='', data-bs-toggle="tab", data-bs-target="#nav-sale", aria-controls="nav-sale" aria-selected="true")
                        label.form-check-label(for='forSale')
                          | Property For Sale
                      .form-check
                        input#forRent.form-check-input(type='radio', name='offerTypes', data-bs-toggle="tab", data-bs-target="#nav-rent", aria-controls="nav-rent" aria-selected="false")
                        label.form-check-label(for='forRent')
                          | Property For Rent
                    #nav-tabContent.tab-content
                      #nav-sale.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-sale-tab', tabindex='0')
                        .mb-3
                          label.form-label(for='rentPrice') Property Sale Price
                          .input-group.icon-right
                            input.form-control#rentPrice(type='number', placeholder="Enter Price", aria-label="rentPrice", aria-describedby='rentPriceAddon')
                            span#rentPriceAddon.input-group-text Lakhs

                      #nav-rent.tab-pane.fade(role='tabpanel', aria-labelledby='nav-rent-tab', tabindex='0')
                        .mb3
                          label.form-label(for='salePrice') Property Rent Price
                          .input-group.icon-right
                            input.form-control#salePrice(type='number', placeholder="Enter Price", aria-label="salePrice", aria-describedby='salePriceAddon')
                            span#salePriceAddon.input-group-text Lakhs
                  .mb-3
                    button.btn.btn-primary(type='submit') Calculate
                  .result 
                    p 
                      span Owner: 3 Lakhs 
                      | (10% of rental income)
  .similar-wrapper 
    .container 
      h2.title Find More Similar Properties
    .card-lists 
      .container 
        .row.card-lists-row
          .col-12.col-sm-6.col-lg-4 
            +property-card('sale', 'bank', '')
          .col-12.col-sm-6.col-lg-4
            +property-card('sale', '', '')
          .col-12.col-sm-6.col-lg-4
            +property-card('sale', '', '')
